.hero1{
width: 90%;
margin: 0 auto;
display: flex;
margin-top: 4rem;
}

.conteudo1{
width: 50%;
height: 400px;
text-align: center;
}

.conteudo1 h1{
 margin-top: 5rem;
}

.text1{
    color: var(--color-branco);
}

.text2{
    color: var(--color-azul-claro);
}

.hero1 p{
    width: 60%;
    margin: 0 auto;
    color: var(--color-branco);
}

.conteudo1 button{
    background-color: transparent;
    border-color:var(--color-azul-claro);
    border-radius: 10px;
    padding: 8px 30px;
    font-family: "Quicksand", sans-serif;
    margin-top: 2rem;
    font-weight: 500;
}

.conteudo1 a:hover {
    color: var(--color-azul-escuro);
}

.conteudo1 button a{
    color: var(--color-azul-claro);
    font-size: 1rem;
    text-decoration: none;
}

.conteudo1 button:hover{
    background-color: var(--color-branco);
    border-color: var(--color-branco);
}

.conteudo1 button:hover a{
    color: var(--color-azul-escuro);
}

.hero1 .image1 img{
    border-radius: 0px 0px 80px 80px;
    height: 400px;
}

.image1{
    height: 400px;
    width: 50%;
    background-color: var(--color-purple) ;
    text-align: center;
    border-radius: 80px 0px;
    transition: .5s;
}


.hero2{
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-top: 4rem;
    }
    
    .conteudo2{
    width: 50%;
    height: 400px;
    text-align: center;
    transition: 0.5;
    }
    
    .conteudo2 h1{
     margin-top: 5rem;
    }

    .hero2 p{
        width: 60%;
        margin: 0 auto;
        color: var(--color-branco);
    }
    
    
    .conteudo2 button{
        background-color: transparent;
        border-color:var(--color-azul-claro);
        border-radius: 10px;
        padding: 8px 30px;
        font-family: "Quicksand", sans-serif;
        margin-top: 2rem;
        font-weight: 500;
    }
    
    .conteudo2 a:hover {
        color: var(--color-azul-escuro);
        transition: 0.5s;
    }
    .conteudo2 button a{
        color: var(--color-azul-claro);
        font-size: 1rem;
        text-decoration: none;
    }

    .conteudo2 button:hover{
        background-color: var(--color-branco);
        border-color: var(--color-branco);
    }

    .conteudo2 button:hover a{
        color: var(--color-azul-escuro);
    }
    
    .hero2 .image2 img{
        border-radius: 0px 0px 80px 80px;
        height: 400px;
    }
    
    .image2{
        height: 400px;
        width: 50%;
        background-color:var(--color-purple);
        text-align: center;
        border-radius: 80px 0px;
        transition: .5s;
    }

    .hero2 .image2:hover{
        transform: scale(1.1);
    }

   .hero1 .image1:hover{
    transform: scale(1.1);
   }

